{% extends "base_generic.html" %}

{% block content %}

{% if clients_list %}
<section class="services bg-secondary pt-4">
    <div class="container">
        <h2 style="margin-left: 2rem; color: white">Клиенты</h2>
        <div class="services__inner d-flex flex-wrap">

            {% for client in clients_list %}

            <div class="card" style="width: 18rem; margin: 2rem">
                <img src="../../static/images/1500x500.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ client.name }}</h5>

                    <p class="card-text">
                        Имя: {{client.first_name}}
                        <br>
                        Фамилия: {{client.last_name}}
                        <br>
                        Почта: {{client.email}}
                    </p>
                </div>
                {% if user.is_staff %}
                <div class="d-flex justify-content-between p-2">
                    <a href="{% url 'edit_client' client.id %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'delete_client' client.id %}" class="btn btn-danger">Remove</a>
                </div>
                {% endif %}
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% else %}
<div class="container">
    <p>There are no clients.</p>
</div>
{% endif %}
{% if request.user.is_staff %}
<div class="container">
    <a href="{% url 'create-client' %}" class="btn btn-success mt-2">Add Client</a>
</div>
{% endif %}

{% endblock %}