{% extends "base_generic.html" %}

{% block content %}
    <section class="coupons__section">
        <div class="container">
            {% if coupons_list %}
                <ul class="coupons__list d-flex flex-wrap">
                    {% for coupon_item in coupons_list %}
                        <li class="coupon__item">
                            <h2 class="coupon-item__title">{{ coupon_item.name }}</h2>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>
{% endblock %}