{% extends "base_generic.html" %}

{% block content %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="../create-order/">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="client-email" class="col-form-label">Почта клиента: </label>
                        <input type="text" class="form-control" id="client-email" name="client">
                    </div>
                    <div class="mb-3">
                        <label for="cargo-name" class="col-form-label">Товар: </label>
                        <input type="text" class="form-control" id="cargo-name" name="cargo">
                    </div>

                    <select name="service" class="form-select mb-3" aria-label="Default select example">
                        {% for service in service_list %}
                        <option  value="{{service.id}}">{{service.name}}</option>
                        {% endfor %}
                    </select>

                    <select name="transport" class="form-select mb-3" aria-label="Default select example">
                        {% for transport in transport_list %}
                        <option  value="{{transport.id}}">{{transport}}</option>
                        {% endfor %}
                    </select>

                    <select name="cargo_type" class="form-select mb-3" aria-label="Default select example">
                        {% for cargo_type in cargo_types_list %}
                        <option  value="{{cargo_type.id}}">{{cargo_type.name}}</option>
                        {% endfor %}
                    </select>


                    <select name="driver" class="form-select mb-3" aria-label="Default select example">
                        {% for driver in drivers_list %}
                        <option  value="{{driver.id}}">{{driver.last_name}} {{driver.first_name}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary mb-3">Create Order</button>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="container d-flex justify-content-center">
    <form method="get" action="{% url 'services' %}" class="mb-3">
        <div class="row">
            <div class="col-sm-3">
                <label for="category" class="form-label">Category:</label>
                <select id="category" name="category" class="form-select">
                    <option value="">All</option>
                    {% for category_option in categories %}
                    <option value="{{ category_option.name }}"
                            {% if category_option.name == selected_category %}
                            selected
                            {% endif %}
                    >
                        {{ category_option.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-3">
                <label for="min_price" class="form-label">Min Price:</label>
                <input type="text" id="min_price" name="min_price" value="{{ min_price }}" class="form-control">
            </div>
            <div class="col-sm-3">
                <label for="max_price" class="form-label">Max Price:</label>
                <input type="text" id="max_price" name="max_price" value="{{ max_price }}" class="form-control">
            </div>
            <div class="col-sm-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mt-4">Filter</button>
            </div>
            <div class="mt-3">
                <a href="{% url 'services' %}?sort=asc" class="btn btn-success">Sort Ascending</a>
                <a href="{% url 'services' %}?sort=desc" class="btn btn-success">Sort Descending</a>
            </div>
        </div>
    </form>

</div>
{% if service_list %}
<section class="services">
    <div class="container">
        <h2 style="margin-left: 2rem; color: white">Services</h2>
        <div class="services__inner">

            {% for service in service_list %}

            <div class="card">
                <img src="../../static/images/1500x500.jpeg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{ service.name }}</h5>

                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <div class="card-cost">
                        <span>Cost: {{service.cost}}</span>
                    </div>
                    <a href="#" class="btn transparent-btn service-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Create order</a>

                    {% if user.is_staff %}
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'edit_service' service.id %}" class="btn btn-warning-outline">Edit</a>
                        <a href="{% url 'delete_service' service.id %}" class="btn btn-danger-outline">Remove</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

{% else %}
<div class="container">
    <p>There are no services.</p>
</div>
{% endif %}
{% if request.user.is_staff %}
<div class="container">
    <a href="{% url 'create-service' %}" class="btn btn-success mt-2">Add Service</a>
</div>
{% endif %}

{% endblock %}