.reviews__inner {
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
}

.review__wrapper {
    flex: 1 1 33%;
    min-height: 30ch;
    position: relative;
    perspective: 500em;

}

.review {
    --posx: 50%;
    --posy: 50%;
    --rotateX: 0;
    --rotateY: 0;
    position: absolute;
    border: #000000 2px solid;
    border-radius: 12px;
    margin: 10px 12px;
    padding: 10px 12px;
    background-color: #fff;
    inset: 1rem;
    transform: perspective(100em) translatez(0em) rotateY(var(--rotateX)) rotateX(var(--rotateY));
}


.review h3 {
    text-transform: uppercase;
}


.review__date {
    font-weight: 300;
    font-style: italic;
}

.form-title {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

/* Стили для текстового поля ввода */
.review-form input {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 5px;
    border-radius: 12px;
    margin-bottom: 10px;
}

@keyframes reset-card {
    to {
        background-position: 50% 50%;
        transform: rotateY(0) rotateX(0);
    }
}