.services {
    background-color: #fff;
}

.services__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 980px) {
    .services__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .services__inner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}


.service-btn {
    margin-bottom: 10px;
}

/* Стили для модального окна */
.modal {
    display: none; /* По умолчанию скрываем модальное окно */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    z-index: 9999;
}

.modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
}

.modal-content {
    padding: 20px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.modal-title {
    font-size: 20px;
    font-weight: bold;
}

.modal-body {
    padding: 10px 0;
}

.modal-body form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.btn-secondary {
    margin-right: 10px;
}

.btn-close {
    padding: 10px 15px;
    border-radius: 12px;
    cursor: pointer;
}

.mb-3 {
    margin-bottom: 30px;
}

.form-label {
    font-weight: bold;
}

.form-select,
.form-control {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.filter-container {
    margin-top: 30px;
}


