<!DOCTYPE html>
<html lang="en">
<head>

    {% block title %}<title>Statham trans</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Мамченко Кирилл"/>
    <meta
            name="description"
            content="StathamTrans - транспортная компания обеспечивающая доставку груза га просторах стран СНГ"/>
    <link rel="shortcut icon" href="../../static/images/logo/logo.png"/>

    <!-- Добавление дополнительного статического CSS файла -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
    <link rel="stylesheet" href="{% static 'css/drivers.css' %}">
    <link rel="stylesheet" href="{% static 'css/transport.css' %}">
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
    <link rel="stylesheet" href="{% static 'css/news.css' %}">

    <!-- Шрифты -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap"
          rel="stylesheet">
</head>

<body>
<div class="wrapper">
    <header class="header">
        <a class="header-brand" href="{% url 'index' %}">
            StathamTrans
        </a>
        <nav class="navbar">
            <ul class="navbar-menu">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'services' %}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'drivers' %}">Drivers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'transport' %}">Transport</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news' %}">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'coupons' %}">Coupons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'review_list' %}">Reviews</a>
                </li>
            </ul>
        </nav>
        <form class="header-form">

            <button class="user-toggle" type="button">
                <span></span>
            </button>

            <ul class="user-info__list" id="userInfo">
                {% if user.is_authenticated %}
                    <li class="user-info__item">
                        <span style="color: white; margin-right: 10px" id='date'></span>
                    </li>
                    <li class="user-info__item">
                        <span style="color: white; margin-right: 10px" id='time'></span>
                    </li>
                    <li class="user-info__item">
                        <span style="color: white; margin-right: 10px" id='zone'></span>
                    </li>
                    <li class="user-info__item">
                        <span style="color: white; margin-right: 10px">User: {{ user.get_username }}</span>
                    </li>
                {% endif %}
                <li class="user-info__item">
                    <div id="countdown"></div>
                </li>
                <li class="user-info__item burger-item">
                    <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>
                <li class="user-info__item burger-item">
                    <a class="nav-link" href="{% url 'services' %}">Services</a>
                </li>
                <li class="user-info__item burger-item">
                    <a class="nav-link" href="{% url 'drivers' %}">Drivers</a>
                </li>
                <li class="user-info__item burger-item">
                    <a class="nav-link" href="{% url 'transport' %}">Transport</a>
                </li>
                <li class="user-info__item burger-item">
                    <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
                </li>
                <li class="user-info__item burger-item">
                    <a class="nav-link" href="{% url 'news' %}">News</a>
                </li>
                <li class="user-info__item burger-item">
                    <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
                </li>
                <li class="user-info__item burger-item">
                    <a class="nav-link" href="{% url 'coupons' %}">Coupons</a>
                </li>
                <li class="user-info__item burger-item">
                    <a class="nav-link" href="{% url 'review_list' %}">Reviews</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="user-info__item burger-item">
                        <a class="nav-link" href="{% url 'orders' %}">Orders</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="user-info__item burger-item">
                        <a class="nav-link" href="/stats/">Stats</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="user-info__item burger-item">
                        <a class="nav-link" href="{% url 'cargos_list' %}">Cargos</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="user-info__item burger-item">
                        <a class="nav-link" href="{% url 'clients_list' %}">Clients</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="user-info__item">
                        <a href="{% url 'logout' %}?next={{ request.path }}" class="btn btn-outline-secondary"
                           type="button" accesskey="q">LogOut</a>
                    </li>
                {% else %}
                    <li class="user-info__item">
                        <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-outline-secondary"
                           type="button">LogIn</a>
                    </li>
                {% endif %}
                <li class="user-info__item">
                    <a class="btn btn-outline-secondary" onClick="calculateAgeButtonClicked()">Проверить возраст</a>

                </li>

            </ul>


        </form>
    </header>
    <main>
        {% if user.is_authenticated %}
            <aside>

                <ul class="auth-pages__list" id="authPages">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'orders' %}">Orders</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/stats/">Stats</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cargos_list' %}">Cargos</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'clients_list' %}">Clients</a>
                        </li>
                    {% endif %}
                </ul>
            </aside>
        {% endif %}
        {% block content %}{% endblock %}
    </main>

    <footer>
        ©Оформление сайта. ООО «StathamTrans», 2023
    </footer>
</div>
<script src="../../static/scripts/banner.js"></script>
<script src="../../static/scripts/date.js"></script>
<script src="../../static/scripts/modals.js"></script>
<script src="../../static/scripts/scroll-anim.js"></script>
<script src="../../static/scripts/card-effect.js"></script>
<script src="../../static/scripts/font-settings.js"></script>
<script src="../../static/scripts/countdown.js"></script>
<script src="../../static/scripts/check-age.js"></script>
<script src="../../static/scripts/table.js"></script>
<script src="../../static/scripts/toys.js"></script>
<<!--<script src="../../static/scripts/classes_prot.js"></script>-->
<script src="../../static/scripts/classes_def.js"></script>
</body>

</html>