{% extends "base_generic.html" %}

{% block content %}

{% if drivers_list %}
<section class="services bg-secondary pt-4">
    <div class="container">
        <h2 style="margin-left: 2rem; color: white">Services</h2>
        <div class="services__inner d-flex flex-wrap">

            {% for driver in drivers_list %}

            <div class="card" style="width: 18rem; margin: 2rem">
                <img src="../static/images/1500x500.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ driver.first_name}} {{driver.last_name}}</h5>
                    <p class="card-text">
                       Age: {{driver.age}}<br>Transport: {{driver.transport}}
                    </p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% else %}
<p>There are no drivers.</p>
{% endif %}
{% endblock %}