{% extends "base_generic.html" %}

{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Random dog</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Close</button>
                </div>
                <div class="modal-body">
                    {% if image_url %}
                        <img src="{{ image_url }}" alt="Random Dog" style="width: 100%; height: auto;">
                    {% else %}
                        <p>Не удалось загрузить изображение собаки.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="home-start__section">
            <div class="container">
                <img src="../static/images/track-left.png" alt="" style="height: 200px;" id="track_1">
                <img src="../static/images/track-right.png" alt="" style="height: 200px;" id="track_2">
                <div class="row">
                    <div class="start-text">
                        <h1>StathamTrans</h1>
                        <blockquote class="russian">
                            Это цитата на русском языке.
                            {{ quote }}
                        </blockquote>
                        <br>

                        <blockquote class="english">
                            This is a quote in English.
                            {{ quote }}
                        </blockquote>
                        <br>
                        <h4>{{ author }}</h4>
                        <a href="#services">Наши услуги ↓</a>
                    </div>
                    <div class="col-4 home__btn-col">
                        <button type="button" class="btn btn-outline-light btn-large start-btn" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">ʕ ᵔᴥᵔ ʔ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="last-post__section">
        <div class="container">
            <h2 class="last-post__title">Last Post</h2>
            <div class="last-post__wrapper">
                <div class="card last-post__item" style="width: 18rem; margin: 2rem">
                    <img src="{{ latest_post.image.url }}" class="card-img-top" alt="post">
                    <div class="card-body">
                        <h5 class="card-title">{{ latest_post.name }}</h5>

                        <p class="card-text">
                            {{ latest_post.short_description }}
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </section>


    <section class="add__section">
        <div class="container">
            <div class="row">
                <div class="add-text">
                    <h1>Addvertistment</h1>
                </div>
                <div class="add-subtext">
                    <h3>Addvertistment subtext</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="partners__section">
        <div class="container">
            <h2 class="partners__title">Наши партнеры</h2>
            <div class="partners__list">
                <a class="partners-list__item" href="#">
                    <img src="../static/images/partners-logos/mers-logo.png" alt="mercedes" class="partners-item__img">
                    <div class="partners-item__subtitle">Mercedes</div>
                </a>
                <a class="partners-list__item" href="#">
                    <img src="../static/images/partners-logos/bmw-logo.png" alt="bmw" class="partners-item__img">
                    <div class="partners-item__subtitle">BMW</div>
                </a>
                <a class="partners-list__item" href="#">
                    <img src="../static/images/partners-logos/man-logo.jpg" alt="mercedes" class="partners-item__img">
                    <div class="partners-item__subtitle">Mercedes</div>
                </a>
            </div>
        </div>
    </section>
    <section class="banner__section">
        <div id="banner1" class="banner active">
            <a href="https://www.apple.com/">
                <img src="../static/images/Apple_M3_MacBook.jpg" alt="Баннер 1">
            </a>
        </div>

        <div id="banner2" class="banner">
            <a href="https://mak.by/ru/">
                <img src="../static/images/McDonalds-overview.webp" alt="Баннер 2">
            </a>
        </div>

        <!-- Добавьте дополнительные баннеры, если необходимо -->
        {% if request.user.is_staff %}
            <form id="intervalForm">
                <label for="intervalInput">Интервал (в секундах):</label>
                <input type="number" id="intervalInput" min="1" value="5">
            </form>
        {% else %}
            <form id="intervalForm" style="opacity: 0;">
                <label for="intervalInput">Интервал (в секундах):</label>
                <input type="number" id="intervalInput" min="1" value="5">
            </form>
        {% endif %}
    </section>
    {% if service_list %}
        <section class="services bg-secondary pt-4" id="services">
            <div class="container">
                <h2 style="margin-left: 2rem; color: white">Services</h2>
                <div class="services__inner d-flex flex-wrap">

                    {% for service in service_list %}

                        <div class="card" style="width: 18rem; margin: 2rem">
                            <img src="../static/images/1500x500.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ service.name }}</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the
                                    card's content.
                                </p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
    {% else %}
        <p>There are no services.</p>
    {% endif %}
    <section class="table__section">
        <div class="container">
            <input type="number" id="tableSizeInput" placeholder="Введите размер таблицы" value="4">
            <button id="generateButton">Сгенерировать таблицу</button>
            <button id="transposeButton">Транспонировать таблицу</button>
            <input type="number" id="limitInput" placeholder="Введите ограничение ячеек" value="3" min="1">
            <button id="addRowButton">Добавить строку</button>
            <button id="addColumnButton">Добавить столбец</button>
            <table id="resultTable"></table>
        </div>
    </section>
    <section>
        <div class="container">
            <form id="toyForm">
                <label for="nameInput">Название игрушки:</label>
                <input type="text" id="nameInput" required><br>

                <label for="priceInput">Стоимость игрушки (в рублях):</label>
                <input type="number" id="priceInput" required><br>

                <label for="ageInput">Возрастные границы (например, от 2 до 5 лет):</label>
                <input type="text" id="ageInput" required><br>

                <button type="submit">Добавить игрушку</button>
            </form>

            <h3>Наиболее дорогие игрушки:</h3>
            <ul id="resultList"></ul>
        </div>
    </section>
{% endblock %}

