{% extends "base_generic.html" %}

{% block content %}

{% if orders_list %}
<section class="services bg-secondary pt-4">
    <div class="container">
        <h2 style="margin-left: 2rem; color: white">Transport</h2>
        <div class="services__inner d-flex flex-wrap">

            {% for order in orders_list %}

            <div class="card" style="width: 18rem; margin: 2rem">
                <img src="../static/images/1500x500.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ order.cargo }}</h5>

                    <p class="card-text">
                        Дата: {{order.date}}
                        <br>
                        Клиент: {{order.client}}
                        <br>
                        Стоимость: {{order.cost}}
                    </p>

                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% else %}
<p>There are no orders.</p>
{% endif %}
{% endblock %}