{% extends "base_generic.html" %}

{% block content %}
    <div class="container">
        <h1>Добавить отзыв</h1>

        <form method="post" class="review-form">
            {% csrf_token %}
            {{ form.email.errors }}
            <label class="form-title" for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
            <br>
            {{ form.rating.errors }}
            <label class="form-title" for="{{ form.rating.id_for_label }}">Оценка:</label>
            {{ form.rating }}
            <br>
            {{ form.text.errors }}
            <label class="form-title" for="{{ form.text.id_for_label }}">Текст:</label>
            {{ form.text }}
            <br>
            <button class="btn transparent-btn" type="submit">Отправить</button>
        </form>
    </div>


{% endblock %}