{% extends "base_generic.html" %}

{% block content %}
    <section class="reviews__section">
        <div class="container">
            <h1>Список отзывов</h1>
            <div class="reviews__inner">
                {% for review in reviews %}
                    <article class="review">
                        <h3>{{ review.client }}</h3>
                        <p>Оценка: {{ review.rating }}</p>
                        <p class="word-break">{{ review.text }}</p>
                        <p class="review__date">Дата: {{ review.date }}</p>
                    </article>
                    {% empty %}
                    <p>Нет отзывов.</p>
                {% endfor %}
            </div>
            <a href="{% url 'add_review' %}">Добавить отзыв</a>
        </div>
    </section>
{% endblock %}